body {
    /* background-color: black; */
    /* display: flex; */
    /* justify-content: center; */
    margin: 0;
}

.box {
    width: 200px;
    height: 200px;
    background-color: white;
    color: orange;
}